---
layout: default
title: 归档
---

<div class="archive">
    {% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in posts_by_year %}
    <h2>{{ year.name }}</h2>
    <ul>
        {% for post in year.items %}
        <li>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d" }}</time>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div> 